/* >> FONTES: */
/*...*/

/* >> VARIÁVEIS: */
:root {}

/* >> ESTILO DA PÁGINA: */
/*...*/

/* >> KEYFRAMES: ↓ */
/*...*/

/* >> CLASSES SCRIPTADAS: */
/*...*/

/* >> MEDIA QUERIES: ↓ */
@media (min-width: 576px) {}