/* -→ FONTES: */
/*...*/

/* -→ VARIÁVEIS: */
:root {}

/* -→ ESTILO DA PÁGINA: */
/* Loading: */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  position: absolute;
  z-index: 10;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
}

#loading span {
  font-size: 4rem;
  color: red;
}

#loading-img {
  animation: girar 2s linear infinite;
  width: 50vw;
}

/* div#main: */
#main {
  height: 100vh;
}
#main p {
}
#main button {
  font-size: 3.2rem;
  padding: 10px;
}

/* -→ KEYFRAMES: ↓ */
@keyframes ponto {
  0% {content: "";}
  33% {content: ".";}
  66% {content: "..";}
  100% {content: "...";}
}

@keyframes girar {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* -→ CLASSES SCRIPTADAS: */
.hidden {display: none;}

.fadeout {
  animation: fadeout 1s ease-out 1;
}

.ponto-loading-span::after {
  content: "";
  animation: ponto 1s linear infinite alternate;
}

/* -→ MEDIA QUERIES: ↓ */
@media (min-width: 576px) {
  #loading span {
    font-size: 9rem;
  }
}