/* >> FONTES: */
/*...*/

/* >> VARIÁVEIS: */
:root {}

/* >> ESTILO DA PÁGINA: */

.hora {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  user-select: none;
  background-color: #052e28;
  padding: 10px;
}

.hora span {
  font-size: 3rem;
}

.hora p {
  font-size: 1.6rem;
  
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  
  margin-top: 50px;
  
}

.polaroid {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  gap: 5px;
  
  width: 50vw;
  background-color: #fff;
  padding: 2vw;
  
  transform: scale(1);
  transition: all ease-out 100ms;
}
.polaroid:hover {
  transform: scale(1.15);
  transition:
  transform ease-in 100ms;
}


.polaroid img {
  width: 100%;
}
.polaroid p {
  color: #000;
  font-family: times;
  text-align: left;
  font-size: 3vw;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  height: 7vh;
  line-height: 1.4;
}  


/* >> KEYFRAMES: ↓ */
/*...*/

/* >> CLASSES SCRIPTADAS: */
/*...*/

/* >> MEDIA QUERIES: ↓ */
@media (min-width: 576px) {}