/* --→ FONTES: */
/*...*/

/* --→ VARIÁVEIS: */
:root {}

/* --→ ESTILO DA PÁGINA: */
/* Loading: */
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  position: absolute;
  z-index: 10;
  overflow-y: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
}

#loading span {
  font-size: 4rem;
  color: red;
}

#loading-img {
  animation: girar 2s linear infinite;
  width: 50vw;
}

/* div#main: */
#main {
  min-height: 100vh;
}

#main p {font-size: 5rem;}

#main #reload, #fogos, #popup_button {
  font-size: 3.2rem;
  padding: 10px;
}

/* Fogos: */
.fogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.fogos img {
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

/* Popup: */
.popup {
  position: fixed;
  margin: 0 25vw;
  top: 50%;
  width: 50vw;
  background-color: #fff;
  color: #000;
  font-size: 2.2rem;
  text-align: center;
}

/* Slider: */
#slider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  
  padding: 5px;
  border: inset black 3px;
  
  overflow-x: scroll;
}

.slider-item {
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 30px;
  border-color: red;
  font-style: italic;
}

/* -•→ KEYFRAMES: ↓ */
@keyframes ponto {
  0% {content: "";}
  33% {content: ".";}
  66% {content: "..";}
  100% {content: "...";}
}

@keyframes girar {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/* -→ CLASSES SCRIPTADAS: */
.hidden {display: none;}

.fadeout {
  animation: fadeout 1s ease-out 1;
}

.ponto-loading-span::after {
  content: "";
  animation: ponto 1s linear infinite alternate;
}

/* -→ MEDIA QUERIES: ↓ */
@media (min-width: 576px) {
  #loading span {
    font-size: 9rem;
  }
}